/************************************************************/
/************************************************************/
                     /* Layout */
/************************************************************/
/************************************************************/
/* * {
    border: 1px solid red;
} */
html {
    height: 100%;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    min-height: 100%;
}

header {
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
#logo {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
#logo-title {
    font-size: 1.5em;
    user-select: none;

}
header h3 {
    margin: 0;
    font-family: 'Playfair Display',
    serif;
    font-weight: 800;
}
#logo-img {
    width: 25px;
    height: 25px;
}
#navbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 15px;
    font-size: 1.2em;
}
#navbar a {
    transition-duration: 0.3s;
}
#footer {
    text-align: center;
    margin: 20px auto 0;
}

#attributions {
    margin-top: 5px;
}
a:link {
    text-decoration: none;
    color: rgb(0, 43, 128);
    
}
a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover {
    color: rgb(0, 142, 132);
}
/************************************************************/
/************************************************************/
/* Landing Page */
/************************************************************/
/************************************************************/

.container-homepage {
    background-image: url('/static/images/background-image-7.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 800px;
    width: 100%;
    padding-top: 60px;
}

#homepage-content {
    width: 600px;
    font-family: 'Playfair Display',
    serif;
    font-weight: 600;
    font-size: 2em;
    margin-left: 3%;
    color: rgb(255, 255, 255);
    /* backdrop-filter: blur(13px); */
}
#homepage-content h3 {
    font-size: 2.5em;
    margin: 0 auto;
    width: 600px;
    line-height: 1em;
}
#homepage-content h3 {
    font-size: 3em;
}
#homepage-signup-button {
    border-radius: 20px;
    font-size: 0.5em;
    background-color: rgb(253, 224, 177);
    padding: 2% 7%;
    transition-duration: 0.3s;
}
#homepage-signup-button:hover {
    background-color: rgba(255, 191, 88, 0.763);
    color: rgb(255, 255, 255);
}
.flashes {
    list-style-type: none;
    color: rgb(255, 0, 0);
    margin: 5px;
}

/************************************************************/
/************************************************************/
                    /* Main Feed */
/************************************************************/
/************************************************************/

#main-main {
    background-image: url('/static/images/background-image-6.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
#main-post-header {
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#main-content {
    width: 100%;
    height: 100%;
    min-height: 850px;
    background-color: rgba(240, 240, 240,0.9);
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

section {
   border-radius: 15px;
   background: rgb(255, 247, 235);
   box-shadow: 2px 2px 2px
   rgba(0, 0, 0, 0.5);
   padding: 3%;
   margin: 5px auto;
   width: 50%;
}
.user-post {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.user-post-details  {
    font-size: 0.8em;
}
.user-post-bold {
    font-weight: 600;
}

.user-post-body {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.user-post-avatar {
    border-radius: 50%;
    background-color: rgb(253, 224, 177);
}
.user-post-username {
    margin: 0;
}
.user-post-body p {
    margin: 0 0 5px 0;
    flex-direction: row;
    color: rgb(62, 62, 62);
}
.thin-line {
    width: 100%;
    height: 1px;
    background: rgb(0, 0, 0);
    /* border: 1px solid rgb(0, 0, 0); */
    margin-bottom: 3px;
}
.user-post-content {
    color: rgb(0, 0, 0);
}
#user-post-delete {
    border: none;
    background-color: rgb(255, 247, 235);
    transition-duration: 0.2s;
    padding: 0;
    color: rgb(25, 59, 206);
}
#user-post-delete:hover {
    color: red;
    cursor: pointer;
}
.collapsible {
    background-color: rgba(253, 224, 177,0.9);
    color: #444;
    cursor: pointer;
    padding: 8px;
    width: 300px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    align-self: center;
}
.active,
.collapsible:hover {
    background-color: rgb(255, 204, 121);
    color: rgb(255, 255, 255);
}
.collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}

#create-post-box {
    background: whitesmoke;
    border-radius: 20px;
    border: 2px solid black;
    align-self: center;
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 300px;
    width: 400px;
    height: 250px;
    display: none;
    overflow: hidden;
}
#create-post-box button {
    width: 100px;
    margin: 10px;

}

#post-content {
    height: 100px;
    width: 80%;
    margin-bottom: 5px;
}

#post-category {
    margin-bottom: 5px;
}

/************************************************************/
/************************************************************/
                    /* Login Page */
/************************************************************/
/************************************************************/

 #login-block {
     border-radius: 25px;
     background-color: rgb(255, 255, 255);
     height: 300px;
     width: 300px;
     align-self: center;
     padding: 15px;
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
 }
 #login-header {
     text-align: center;
     color: rgb(0, 0, 0);
     padding-top: 20px;
 }
.login-inputs {
    margin: 10px 0;
    color: rgb(0, 0, 0);
    width: 100px;
    padding: 0 20%;
}
.login-btn-div {
    padding: 0 20%;
}
#login-btn {
    margin: 3px auto;
    width: 100%;
    padding: 4px;
    background: rgba(255, 191, 88);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
#login-btn:hover {
    background: rgb(255, 164, 17);
    color: rgb(255, 255, 255);
}
#login-signup-link {
    width: 50%;
    margin: 10px auto;
    
}
#login-signup-link a {
    color: rgb(25, 59, 206);
    transition-duration: 0.3s;
}
#login-signup-link-a:hover {
    color: rgb(0, 33, 98);
}
#login-main {
    background-image: url('/static/images/background-image-3.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    height: 800px;

}
#backdrop {
    width: 100%;
    background-color: rgba(35, 35, 35, 0.6);
    backdrop-filter: blur(7px);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}
#login-face {
    align-self: center;
    font-family: 'Playfair Display',
    serif;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 40%;
}
#login-face h3 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
}
#login-face p {
    font-size: 2em;
    font-weight: 400;
}

/************************************************************/
/************************************************************/
                     /* Signup Page */
/************************************************************/
/************************************************************/

#signup-backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
#signup-block {
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 450px;
    align-self: center;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#signup-form-flex {
    display: flex;
    flex-wrap: wrap;
}

#signup-header {
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 20px;
}

.signup-inputs {
    margin: 10px 0;
    color: rgb(0, 0, 0);
    padding: 0 5%;
    font-size: 1em;
    display: flex;
    flex-direction: column;
}
.signup-inputs input {
    font-size: 1em;
}

.signup-btn-div {
    padding: 0 20%;
    margin: 0 auto;
}

#signup-btn {
    margin: 10px auto;
    width: 200px;
    height: 50px;
    background: rgba(255, 191, 88);
    transition-duration: 0.3s;
    border-radius: 10px;
    font-size: 1.2em;
}
#signup-btn:hover {
    background-color: rgba(255, 191, 88, 0.763);
    cursor: pointer;
}

#signup-signup-link {
    width: 50%;
    margin: 10px auto;
}

#signup-signup-link a {
    color: rgb(25, 59, 206);
}

#signup-main {
    background-image: url('/static/images/background-image-2.jpeg');
    background-size: cover;
    background-position: center;
   
    height: 800px;
}

#signup-face {
    align-self: center;
    font-family: 'Playfair Display',
        serif;
    color: rgb(255, 255, 255);
    font-size: 4em;
    font-weight: 700;
    width: 35%;
}
#signup-face p {
    margin: 0;
}
#avatar-select {
    width: 80%;
    flex-grow: 2;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    row-gap: 3px;
    column-gap: 30px;
}
#avatar-select input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
#avatar-select label {
    cursor: pointer;
    filter: grayscale(90%);
}
#avatar-select label:hover {
    filter: grayscale(0);
}
#avatar-select input[type="radio"]:checked+label {
    filter: grayscale(0);
}
#avatar-select img {
    width: 60px;
    height: 60px;
    }