<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <header></header>
        <nav id="navbar">
            <div>
                <a href="/home">Home</a>
            </div>
            {% if session['user_id'] %}
            <div>
                <a href="/profile">My Profile</a>
            </div>
            <div>
                <a href="/sessions/delete">Logout</a>
            </div>
            {% else %}
            <div id="nav-login">
                <a href="/login">Login</a>
            </div>
            <div id="nav-signup">
                <a href="/signup">Signup</a>
            </div>
            {% endif %}
        </nav>
        {% block content %}{% endblock %}
        <footer>
            &copy; Copyright 2022 by
            <a href="https://github.com/christoller">Chris Toller</a>
            <div id="attributions">
                <div>
                    Icons made by
                    <a
                        href="https://www.flaticon.com/authors/amethystdesign"
                        title="AmethystDesign"
                        >AmethystDesign</a
                    >,
                    <a
                        href="https://www.flaticon.com/authors/monkik"
                        title="monkik"
                        >monkik</a
                    >,

                    <a
                        href="https://www.flaticon.com/authors/bakuh-huda"
                        title="Bakuh Huda"
                        >Bakuh Huda</a
                    >,

                    <a
                        href="https://www.flaticon.com/authors/kosonicon"
                        title="kosonicon"
                        >kosonicon</a
                    >
                    and

                    <a href="https://www.freepik.com" title="Freepik">Freepik</a
                    >, from
                    <a href="https://www.flaticon.com/" title="Flaticon"
                        >www.flaticon.com</a
                    >
                </div>
            </div>
        </footer>
        <script src="/scripts/app.js" async defer></script>
    </body>
</html>
