{% extends "base.html" %} {% if session['user_id'] %} {% block user %}
<img src="{{ session['avatar'] }}" alt="" id="nav-profile-avatar" />
<p>{{ session['user_name']}}</p>
{% endblock %} {% block content %}
<main class="main-main">
    <div id="main-content">
        <div id="main-post-header">
            <form action="/home" method="post">
                <select name="filter" id="filter">
                    <option value="">Filter by Category</option>
                    <option value="all">All</option>
                    <option value="general">General</option>
                    <option value="jobs">Jobs</option>
                    <option value="advice">Advice</option>
                    <option value="for-sale">For Sale</option>
                </select>
                <button type="submit">Filter</button>
            </form>
        </div>
        {% block posts %} {% include 'post-feed.html'%} {% include
        'page-select.html' %} {% endblock %}
        <button class="collapsible">Click here to make a post</button>
        <div id="create-post-box">
            <form action="/post/create" method="POST" id="create-post-box-form">
                <div>
                    <h4>Make a Post</h4>
                    <textarea
                        name="post-content"
                        id="post-content"
                        cols="30"
                        rows="10"
                    ></textarea>
                </div>
                <div>
                    <select name="category" id="category">
                        <option value="">Select a Category</option>
                        <option value="general">General</option>
                        <option value="jobs">Jobs</option>
                        <option value="advice">Advice</option>
                        <option value="for-sale">For Sale</option>
                    </select>
                </div>
                <div>
                    <button type="submit" id="post-submit-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %} {% endif %}
