{% extends "base.html" %} {% block content %}
<main>
    {% for post in posts%}
    <section class="user-post">
        <div class="user-post-body">
            <img src="" alt="avatar" />
            <h3 class="user-post-username"><a href="">{{post[4]}} {{post[5]}}</a></h5>
            <p>Date Submitted:</p>
            <p class="user-post-datestamp">{{ post[2] }}</p>
            <p class="user-post-content">{{ post[1] }}</p>
            {% if session['user_id'] == post[0] %}
            <form action="/post/delete" method="POST">
                <input type="hidden" name="id" value="{{ post[8] }}">
                <button type="submit">Delete</button>
            </form>
            {% endif %}
        </div>
    </section>
    {% endfor%}
    <div>
        <form action="/post/create" method="POST">
            <div>
                <label for="make-post">Make a Post</label>
                <input type="text" name="post-content" id="post-content" />
            </div>
            <div>
                <label for="category">Category</label>
                <input type="text" name="category" id="category" />
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}
