{% extends 'base.html' %}
{% if session['user_id'] %}
{% block content %}
<main class="main-main">
<section id="edit-profile-container">
<form action="/update" method="POST" id="edit-form">
    <h3>Edit Profile</h3>
    <input type="hidden" value="{{user_info[0]}}" name="user-id">
    <div class="edit-inputs">
        <label for="fName">First Name</label>
        <input type="text" id="fName" name="fName" value="{{user_info['first_name']}}"/>
    </div>
    <div class="edit-inputs">
                        <label for="lName">Last Name</label>
                        <input type="text" id="lName" name="lName" value="{{user_info['last_name']}}"/>
    </div>
    <div class="edit-inputs">
                        <label for="location">Location</label>
                        <input
                            type="text"
                            id="location"
                            name="location"
                            value="{{user_info['location']}}"
                        />
    </div>
    <div class="edit-inputs">
                        <label for="job-title">Job Title</label>
                        <input type="text" id="job-title" name="job-title" value="{{user_info['job_title']}}"/>
    </div>
    <div class="edit-inputs">
                        <label for="workplace">Workplace</label>
                        <input type="text" id="workplace" name="workplace" value="{{user_info['workplace']}}"/>
    </div>
    <div class="edit-inputs">
        <label for="interests">Interests</label>
        <input type="text" id="interests" name="interests" value="{{user_info['interests']}}"/>
    </div>
    <label for="bio" id="bio-label">Bio</label>
    <div class="edit-inputs">
        
        <textarea name="bio" id="bio" cols="1" rows="10" placeholder="Write a bio!">
            {{user_info['bio']}}
        </textarea>             
    </div>
    <fieldset class="avatar-select" id="edit-avatar-select">
                        <legend>Please select Avatar</legend>
                        <input
                            type="radio"
                            name="avatar"
                            id="male-chef"
                            value="../../static/images/chef-male.png"
                            class="visually-hidden"
                        />
                        <label for="male-chef">
                            <img
                                src="../../static/images/chef-male.png"
                                alt="Male Chef"
                                                        width="100px"
                                height="100px"
                            />
                        </label>
                        <input
                            type="radio"
                            name="avatar"
                            id="female-chef"
                            value="../../static/images/chef-female.png"
                            class="visually-hidden"
                        />
                        <label for="female-chef">
                            <img
                                src="../../static/images/chef-female.png"
                                alt="Female Chef"
                                width="100px"
                                height="100px"
                            />
                        </label>
                        <input
                            type="radio"
                            name="avatar"
                            id="male-bartender"
                            value="../../static/images/bartender-male.png"
                            class="visually-hidden"
                        />
                        <label for="male-bartender">
                            <img
                                src="../../static/images/bartender-male.png"
                                alt="Male Bartender"
                                width="100px"
                                height="100px"
                            />
                        </label>
                        <input
                            type="radio"
                            name="avatar"
                            id="female-bartender"
                            value="../../static/images/bartender-female.png"
                            class="visually-hidden"
                        />
                        <label for="female-bartender">
                            <img
                                src="../../static/images/bartender-female.png"
                                alt="Female Bartender"
                                width="100px"
                                height="100px"
                            />
                        </label>
                        <input
                            type="radio"
                            name="avatar"
                            id="waiter"
                            value="../../static/images/waiter.png"
                            class="visually-hidden"
                        />
                        <label for="waiter">
                            <img
                                src="../../static/images/waiter.png"
                                alt="Waiter"
                                width="100px"
                                height="100px"
                            />
                        </label>
                        <input
                            type="radio"
                            name="avatar"
                            id="waitress"
                            value="../../static/images/waitress.png"
                            class="visually-hidden"
                        />
                        <label for="waitress">
                            <img
                                src="../../static/images/waitress.png"
                                alt="Waitress"
                                width="100px"
                                height="100px"
                            />
                        </label>
                        <input
                            type="radio"
                            name="avatar"
                            id="male-barista"
                            value="../../static/images/barista-male.png"
                            class="visually-hidden"
                        />
                        <label for="male-barista">
                            <img
                                src="../../static/images/barista-male.png"
                                alt="Male Barista"
                                width="100px"
                                height="100px"
                            />
                        </label>
                        <input
                            type="radio"
                            name="avatar"
                            id="female-barista"
                            value="../../static/images/barista-female.png"
                            class="visually-hidden"
                        />
                        <label for="female-barista">
                            <img
                                src="../../static/images/barista-female.png"
                                alt="Female Barista"
                                width="100px"
                                height="100px"
                            />
                        </label>
    </fieldset>
    </div>
    <div id="update-btn-div">
        <button type="submit" class="signup-btn">Update</button>
    </div>
</form>
</section>
</main>
{% include 'footer.html' %}
{% endblock %}
{% endif %}
